.allHead {
    height: 90px;
    display: grid;
    overflow-x: auto;
    grid-template-areas: "l m";
    /* background-image: linear-gradient(to right, black , red) */
}
.logo {
    grid-area: "l";
    color: #949494;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    font-family: 'Arvo', serif;
}
.logo span {
    cursor: pointer;
}
.menu {
    padding: 10px 20px;
}
.menu div {
    font-family: 'Arvo', serif;
    float: left;
    margin-left: 20px;
    cursor: pointer;
    color: #949494;
    transition: 0.5s;
}
.menu div:hover {
    color: white;
}