@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../src/components/11050.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}   