.mainDiv {
    width: 70%;
    height: auto;
    position: relative;
    margin: 0 auto;
}
.prev {
    position: absolute;
    top: 50%;
    background-color: #717171; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    outline: 0;
    opacity: 0.5;
    transition: 0.5s;
}
.prev:hover {
    opacity: 1;
}
.next {
    position: absolute;
    top: 50%;
    right: 0.1%;
    background-color: #717171; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    outline: 0;
    opacity: 0.5;
    transition: 0.5s;
}
.next:hover {
    opacity: 1;
}
.sliderDiv img {
    width: 945px;
    height: 620px;
}